<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IM.ustawienia" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Klient.ustawienia" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <IM.ustawienia>
            <setting name="s_adresIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="s_port" serializeAs="String">
                <value>50000</value>
            </setting>
        </IM.ustawienia>
        <Klient.ustawienia>
            <setting name="s_adresIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="s_port" serializeAs="String">
                <value>50000</value>
            </setting>
        </Klient.ustawienia>
    </userSettings>
</configuration>